.rating-container {
  position: absolute;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-first-section {
  min-height: 45px;
  border-radius: 3.8px;
  background-color: #f5a626;
  margin: 0px 15px 0px auto;
  text-align: center;
  color: white;
  line-height: 20px;
  font-weight: 500;
  padding: 0px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-image-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-container {
  display: flex;
}

.tags {
  border-radius: 16.5px;
  font-size: 1vw;
  background-color: #ffffff;
  padding: 8px 14px 9px;
  margin: 15px 0px 15px 15px;
}

.rank {
  margin: 15px;
  color: white;
  font-size: 1vw;
  text-align: right;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .tags {
    font-size: 2vw;
  }
  .rank {
    font-size: 2vw;
  }
}
